html, body, #map_canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#map_canvas {
  position: relative;
  width: 100%;
  height: 500px;
}

.unit img {
  max-width: 1000px;
}
.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.filters div{
  margin-bottom: 10px;
}

.filters input {
  width: 180px;
  max-width: 100%;
}
.filters input.sqft {
  width: 40px;
}
