<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/gridism/gridism.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div ng-app="gmapPluginApp" ng-controller="MainCtrl as vm" id="mapPlugin" class="ng-cloak">
    <div class="grid">
      <div class="unit one-quarter filters">
        <h3>Filter Results</h3>
        <div class="box">
          <h4>OFFER TYPE</h4>
          <div class="grid">
            <div class="unit half">
              <div ng-repeat="location in vm.locations | unique: 'offer'"  ng-if="(location.offer == vm.defaultFilter.offer) || ($even && location.offer != '' && ! vm.defaultFilter.offer)  ">
                <input type="radio" ng-model="vm.filter.offer" name="{{location.offer}}" value="{{location.offer}}"/>
                <label for="{{location.offer}}" >{{location.offer}}</label>
              </div>
            </div>
            <div class="unit half" ng-if="! vm.defaultFilter.offer">
              <div ng-repeat="location in vm.locations | unique: 'offer'"  ng-if="$odd && location.offer != '' ">
                <input type="radio" ng-model="vm.filter.offer" name="{{location.offer}}" value="{{location.offer}}" />
                <label for="{{location.offer}}">{{location.offer}}</label>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="! vm.defaultFilter.type" class="box">
          <h4>PROPERTY TYPE</h4>
          <div class="grid">
            <div class="unit half">
              <div ng-repeat="location in vm.locations | unique: 'type' | orderBy: 'type'"  ng-if="$even">
                <input type="radio" ng-model="vm.filter.type" name="{{location.type}}" value="{{location.type}}"/>
                <label for="{{location.type}}" >{{location.type}}</label>
              </div>
            </div>
            <div class="unit half">
              <div ng-repeat="location in vm.locations | unique: 'type' | orderBy: 'type'"  ng-if="$odd">
                <input type="radio" ng-model="vm.filter.type" name="{{location.type}}" value="{{location.type}}" />
                <label for="{{location.type}}">{{location.type}}</label>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="! vm.defaultFilter.state" class="grid singleFilter">
          <div class="unit one-quarter">State:</div>
          <div class="unit three-quarters">
            <select ng-options="location.state as location.state for location in vm.locations | unique: 'state' | orderBy: 'state'" ng-model="vm.filter.state">
              <option value="">--- Select state ---</option>
            </select>
          </div>
        </div>
        <div ng-if="! vm.defaultFilter.city" class="grid singleFilter">
          <div class="unit one-quarter">City:</div>
          <div class="unit three-quarters">
            <select ng-options="location.city as location.city for location in vm.locations | unique: 'city' | orderBy: 'city' | filter : {state: vm.filter.state}" ng-model="vm.filter.city">
              <option value="">--- Select city ---</option>
            </select>
          </div>
        </div>
        <div ng-if="! vm.defaultFilter.zipcode" class="grid singleFilter">
          <div class="unit one-quarter">Zipcode:</div>
          <div class="unit three-quarters">
            <input type="text" ng-model="vm.zipcode" placeholder="Type zipcode here"></input>
          </div>
        </div>

        <div ng-if="! vm.defaultFilter.minSize" class="grid singleFilter">
          <div class="unit one-quarter">Size:</div>
          <div class="unit three-quarters">
            <input type="text" ng-model="vm.minSize" placeholder="Min" class="sqft"></input>
            sqft and <input type="text" ng-model="vm.maxSize" placeholder="Max" class="sqft"></input> sqft
          </div>
        </div>
        <div class="reset">
          <button ng-click="vm.applyFilters()">Search</button>
          <button ng-click="vm.resetFilters()">Reset filters</button>
        </div>
      </div>
      <div class="unit three-quarters">
        <div id="map_canvas" style="height: 463px">

          <ui-gmap-google-map center="vm.mapConf.center" zoom="vm.mapConf.zoom" control="vm.map" events="{'zoom_changed' : zoomChanged }">
            <ui-gmap-window show="vm.window.show" coords="vm.window.model" options="vm.window.options" closeclick="vm.window.closeClick()" ng-if="vm.window.model.name">
              <div>
                <p><a target="_blank" ng-href="{{vm.window.model.url}}">{{vm.window.model.name}}</a></p>
                <p>{{vm.window.model.address}}<br>
                  {{vm.window.model.city}}, {{vm.window.model.state}}, {{vm.window.model.zipcode}}
                </p>
                <img ng-src="{{vm.window.model.img}}" style="max-width:150px;max-height: 100px;" />
              </div>
            </ui-gmap-window>
            <ui-gmap-markers models="vm.filteredLocations"
                             coords="'self'" idkey="'$id'"  type="'cluster'" typeOptions="vm.clusterOptions"
                             options="vm.markerOptions" click="vm.onClick" control="vm.markerControl">
            </ui-gmap-markers>

          </ui-gmap-google-map>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="unit one-quarter">
        <h3>Search Results</h3>
      </div>
<!--      <div id="locationList" class="unit three-quarters" style="overflow-x:auto;overflow-y:hidden;height:250px;padding:5px;">
          <div style="display: table-cell; min-width: 200px;"
               ng-repeat="location in getFilteredLocations()">
            <p><a href="#" ng-click="selectMarker(location.$id)" >{{location.name}}</a></p>
            <img ng-src="{{location.img}}" style="max-height: 120px; " />
            <p>{{location.address}}<br>
              {{location.city}}, {{location.state}}, {{location.zipcode}}
            </p>

          </div>
      </div>-->
      <div id="locationList" class="unit three-quarters">
        <div class="grid listHeader">
          <div class="unit two-fifths">Description</div>
          <div class="unit one-fifth" >Type</div>
          <div class="unit one-fifth" >Offer</div>
          <div class="unit one-fifth">Size</div>
        </div>
        <hr/>
        <div class="listContent">
          <div ng-repeat="location in vm.filteredLocations" >
            <div class="grid">
              <div class="unit two-fifths">
                <div class="grid" style="max-height: 120px; ">
                  <div class="unit half"><img ng-src="{{location.img}}" style="max-height: 120px; " /></div>
                  <div class="unit half">
                    <a href="#" ng-click="selectMarker(location.$id)" >{{location.name}}</a><br>
                    {{location.address}}<br>
                    {{location.city}}, {{location.state}}, {{location.zipcode}}
                  </div>
                </div>
              </div>
                <div class="unit one-fifth" ng-bind="location.type"></div>
                <div class="unit one-fifth" ng-bind="location.offer"></div>
                <div class="unit one-fifth">{{location.size | number}} sqft</div>
            </div>
            <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.16/src/markerclusterer_packed.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/locations.js"></script>
        <script src="scripts/filters/unique.js"></script>
        <script src="scripts/filters/multifilter.js"></script>
        <script src="scripts/filters/minfilter.js"></script>
        <script src="scripts/filters/maxfilter.js"></script>
        <script src="scripts/controllers/admin.js"></script>
        <!-- endbuild -->

        <script src="scripts/services/config.js"></script>
</body>
</html>
