<div ng-app="gmapPluginApp" ng-controller="MainCtrl">
  Type:
  <select ng-options="location.type as location.type for location in locations" ng-model="typeFilter">
    <option value="">--- Select type ---</option>
  </select>

  <br>
  Offer Type:
  <select ng-options="location.offer as location.offer for location in locations" ng-model="offerFilter">
    <option value="">--- Select offer type ---</option>
  </select>

  <br>
  City:
  <input type="text" ng-model="cityFilter" placeholder="Type city name here"></input>

  <br>
  Zipcode:
  <input type="text" ng-model="zipFilter" placeholder="Type zipcode here"></input>

  <br>
  State:
  <select ng-options="location.state as location.state for location in locations" ng-model="stateFilter">
    <option value="">--- Select state ---</option>
  </select>

  <br>
  Size between:
  <input type="text" ng-model="minSizeFilter" placeholder="Type min size here"></input>
   sqft and <input type="text" ng-model="maxSizeFilter" placeholder="Type max size here"></input> sqft

  <div id="map_canvas" style="width: 100%; height: 500px">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map">
      <ui-gmap-markers models="locations | filter: {type: typeFilter, offer: offerFilter, city: cityFilter, state: stateFilter, zipcode: zipFilter}
                                          | filter: minSizeFilter:minFilterFn
                                          | filter: maxSizeFilter:maxFilterFn"
                       coords="'self'" idkey="'$id'"  type="'cluster'" typeOptions="clusterOptions"
                       options="markerOptions">
      </ui-gmap-markers>

    </ui-gmap-google-map>
  </div>
</div>
